
  <td class=""><%= property_field.name %></td>
  <td class=""><%= property_field.value %></td>
  <td class=""><%= property_field.property_type %></td>
  <td class=""><%= property_field.export_name %></td>


